<h1>Create a Pokemon</h1>
<form action="/newPokemon" method="post">
  name: <p><input type="text" name="name"></p>
  poke_type: <p><input type="text" name="poke_type"></p>
  cp: <p><input type="text" name="cp"></p>
  img_url: <p><input type="text" name="img_url"></p>
  <p><input type="submit" value="Submit"></p>
</form>
