<h1>Create a Trainer</h1>
<form action="/newTrainer" method="post">
  name: <p><input type="text" name="name"></p>
  level: <p><input type="text" name="level"></p>
  img_url: <p><input type="text" name="img_url"></p>
  <p><input type="submit" value="Submit"></p>
</form>
